* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgb(10, 10, 10);
    background-image: 
      linear-gradient(to right, rgba(17, 17, 17, 1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(17, 17, 17, 1) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Navbar styles */
  .navbar {
    padding: 25px 10%;
    width: 100%;
  }

  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  /* Hide by default */
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navbar-menu {
    display: none;
    width: 100%;
    flex-direction: column;
  }


  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  
  .navbar-links a:hover {
    color: #007BFF;
  }
  
  /* Hero Section */
  .hero {
    min-height: 80vh;
    margin: 10% 0px 0px 0px;
    text-align: center;
    width: 100%;
  }

  .fab {
    color: white;
  }

  .menu-toggle{
    display: block;
  }

  .fa-bars {
    color: white;
    display: block;
  }


  .navbar-menu.active {
    display: flex;
  }

  .hero-content-fixed-width{
    margin-left: 5%;
    margin-right: 5%;
    max-width: 53em;
  }

  .navbar-menu .navbar-links {
    margin-top: 15px;
    flex-direction: column;
    align-items: left;
    gap: 15px;
  }
  

  .hero-content {
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    margin-left: 1em;
    margin-right: 1em;
  }

  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  .highlight-blue{
    color: rgb(76, 125, 236);
  }

  .hero-description-container{
    padding: 0 2em
  }
  
  
  .hero-description {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(165, 164, 163);
  }


.workCTA{
  display: flex;
  align-items: center; 
  justify-content: center;
align-content: center;
align-self: center;
  gap: 20px;
  width: 12em;
  height: 70px;
  padding: 10px 10px; 
  border: 4px solid;
  border-radius: 10px;
  border-color: rgb(77, 77, 77);
  background-color: rgb(27, 27, 27);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.1);
  margin-bottom: 1.5em;
  transition: transform 0.3s ease;
}

.workCTA:hover{
  background-color: rgb(35, 35, 35);
}

.workCTA i {
  transition: transform 0.3s ease;
}

.workCTA:hover i {
  transform: translateX(10px);
}


  .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-links a {
    font-size: 2rem;
    color: #333;
  }
  
  .social-links a:hover {
    color: #007BFF;
  }
  
  /* Technologies Section */
.technologies-section{
  /* background-color: red; */
  padding: 0px 8% 0px 8%;
  text-align: center;
  width: 100%;
}
.technologies-title h2{
  margin-bottom: 0.6em;
  font-size: 1.875rem
}

.technologies-title{
  text-align: left;
}



  .technologies {
    margin-top: 50px;
    text-align: center;
  }
  
  .technologies h2 {
    font-size: 1.5rem;
    font-weight: medium;
    margin-bottom: 20px;
  }
  
  .technologies-sub-heading {
    color: rgb(165, 164, 163);
  }
  
  .technologies-logos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .tech-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  /* When screen is wider than 720px */
@media screen and (min-width: 721px) {
    /* .App{
        padding-left: 1em;
        padding-right: 1em;
    } */
    .menu-toggle {
      display: none;
    }
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar-menu {
      display: flex;
      position: static;
      width: auto;
      flex-direction: row;
      align-items: center;
    }
  
    .navbar-menu .navbar-links {
        margin-top: 0;
      flex-direction: row;
      gap: 30px;
    }

    .hero{
      padding: 0 2em;
    }

    .hero-description-container{
      padding: 0 1em;
    }
  }

    /* When screen is wider than 875px */
    @media screen and (min-width: 875px) {

      /* .hero{
        background-color: red;
      } */
    
    }


    /* When screen is wider than 10007 */
@media screen and (min-width: 1007px) {

  .menu-toggle {
    display: none;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-menu {
    display: flex;
    position: static;
    width: auto;
    flex-direction: row;
    align-items: center;
  }

  .navbar-menu .navbar-links {
      margin-top: 0;
    flex-direction: row;
    gap: 30px;
  }
}

@media screen and (min-width: 940px) {
        .hero{
        padding: 0 5em
      }
}

@media screen and (min-width: 1034px) {
  .hero{
  padding: 0 7em
}
}