* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: white;
    font-family: Arial, sans-serif;
    background-color: rgb(10, 10, 10);
    background-image: 
      linear-gradient(to right, rgba(17, 17, 17, 1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(17, 17, 17, 1) 1px, transparent 1px);
    background-size: 40px 40px;
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Navbar styles */
  .navbar {
    padding: 20px 40px;
    width: 100%;
  }

  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    text-decoration: none;
  }
  
  /* Hide by default */
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .navbar-menu {
    display: none;
    width: 100%;
    flex-direction: column;
  }


  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    display: inline;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  
  .navbar-links a:hover {
    color: #007BFF;
  }
  
  /* Hero Section */
  .hero {
    min-height: 100vh;
    padding: 60px 0px;
    text-align: center;
    width: 70%;
  }

  .fab {
    color: white;
  }

  .menu-toggle{
    display: block;
  }

  .fa-bars {
    color: white;
    display: block;
  }


  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu .navbar-links {
    margin-top: 15px;
    flex-direction: column;
    align-items: left;
    gap: 15px;
  }
  

  .hero-content {
    display: flex;
    flex-direction: column;   /* Stack the content vertically */
    align-items: left;      /* Horizontally center content inside the .hero-content */
    justify-content: left;  /* Vertically center the content */
  }
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }
  
  .hero-description {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(165, 164, 163);
  }
  
.workCTA{
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 10px 10px; 
}

  .social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .social-links a {
    font-size: 2rem;
    color: #333;
  }
  
  .social-links a:hover {
    color: #007BFF;
  }
  
  /* Technologies Section */
  .technologies {
    margin-top: 50px;
    text-align: center;
  }
  
  .technologies h2 {
    font-size: 1.5rem;
    font-weight: medium;
    margin-bottom: 20px;
  }
  
  .technologies-logos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .tech-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }

  /* When screen is wider than 720px */
@media screen and (min-width: 721px) {
    .App{
        padding: 0.5em 16em;
    }
    .menu-toggle {
      display: none;
    }
  
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .navbar-menu {
      display: flex;
      position: static;
      width: auto;
      flex-direction: row;
      align-items: center;
    }
  
    .navbar-menu .navbar-links {
        margin-top: 0;
      flex-direction: row;
      gap: 30px;
    }
  }